{% extends "_layouts/app.html" %}

{% block head %}
<title>Presupuesto del Estudio</title>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-2xl p-8 transition-all duration-300 transform bg-white shadow-xl rounded-xl hover:shadow-2xl">
    <h1 class="mb-6 text-4xl font-extrabold text-center text-indigo-700">Presupuesto del Estudio</h1>

    <div class="space-y-4 text-gray-800">
      <p class="text-lg"><strong class="text-indigo-600">ID Estudio:</strong> {{ estudio.id }}</p>
      <p class="text-lg"><strong class="text-indigo-600">Fecha de Vencimiento:</strong> {{ presupuesto.fecha_vencimiento.strftime('%d/%m/%Y') }}</p>
      <p class="text-lg"><strong class="text-indigo-600">Detalle:<br></strong>
        {{ presupuesto.Detalle
            .replace('Patologías a Evaluar:', '<strong>Patologías a Evaluar:</strong>')
            .replace('Genes a Evaluar:', '<strong>Genes a Evaluar:</strong>')
            .replace('Genes Adicionales Solicitados:', '<strong>Genes Adicionales Solicitados:</strong>')
            .replace('Se Solicitaron Hallazgos Secundarios', '<strong>Se Solicitaron Hallazgos Secundarios</strong>')
            .replace('Detalle de Precio:', '<strong class="text-indigo-600">Detalle de Precio:</strong>')
            .replace('\n', '<br>') | safe }}
      </p>      
      <p class="text-lg"><strong class="text-indigo-600">Monto Final:</strong> {{ presupuesto.montoFinal | round(2) }}</p>
      <p class="text-lg"><strong class="text-indigo-600">Estado:</strong> {{ presupuesto.estado.nombre }}</p>
      {% if presupuesto.id_estado == 4 %} <p class="text-lg"><strong class="text-indigo-600">Observaciones:</strong> {{ presupuesto.observaciones }}</p> {% endif %}
    </div>

    {% if presupuesto.comprobante_path %}
      <div class="mt-4">
        <p class="text-lg"><strong class="text-indigo-600">Comprobante:</strong>
        <a href="{{ url_for('static', filename=presupuesto.comprobante_path) }}" target="_blank" class="text-indigo-600 underline hover:text-indigo-800">
          Ver Comprobante
       </a> </p>
      </div>
    {% endif %}
    {% if session.get('rol_id') == 5%}
        {% if (presupuesto.id_estado == 1) or (presupuesto.id_estado == 4) %}
          <form action="{{ url_for('listar.presupuesto_estudio', estudio_id=estudio.id) }}" method="post" enctype="multipart/form-data">
            <div class="mt-4">
              <label for="comprobante" class="text-lg text-indigo-600"><strong class="text-indigo-600">Subir Comprobante(Imagen o PDF):</strong></label>
              <input type="file" name="comprobante" id="comprobante" class="block w-full mt-2">
            </div>

            <div class="mt-8 text-center">
              <button type="submit" class="inline-block px-4 py-2 font-semibold text-white transition duration-300 bg-green-600 rounded-lg shadow-md hover:bg-indigo-700 hover:shadow-lg">
                Guardar Comprobante
              </button>
        {% else %}   
            <div class="mt-8 text-center">
        {% endif %}
        <a href="{{ url_for('listar.detalle_estudio', estudio_id=estudio.id) }}" 
          class="inline-block px-4 py-2 font-semibold text-white transition duration-300 bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 hover:shadow-lg">
          Volver al Estudio
        </a>
        {% elif (session.get('rol_id') == 2) and presupuesto.comprobante_path and (presupuesto.id_estado == 2) %}
        <form action="{{ url_for('verificar_pago.verificar_pago', estudio_id=estudio.id) }}" method="post" id="form_pago" class="mt-8 space-y-4">
          <!-- Observaciones -->
          <div>
            <label for="observaciones" class="block text-lg font-medium text-indigo-600">
              Observaciones:
            </label>
            <textarea 
              id="observaciones" 
              name="observaciones" 
              class="w-full p-3 text-gray-800 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring focus:ring-indigo-500 resize-none" 
              rows="4" 
              placeholder="Escribe tus observaciones aquí..."></textarea>
          </div>
          
          <!-- Campo oculto para la acción -->
          <input type="hidden" id="accion" name="accion" value="">
        
          <!-- Botones de acción -->
          <div class="flex justify-between">
            <button 
              type="submit" 
              class="inline-block px-6 py-3 font-semibold text-white transition duration-300 bg-red-600 rounded-lg shadow-md hover:bg-red-700 hover:shadow-lg" 
              onclick="rechazarPago(event)">
              Rechazar Pago
            </button>
            <button 
              type="submit" 
              class="inline-block px-6 py-3 font-semibold text-white transition duration-300 bg-green-600 rounded-lg shadow-md hover:bg-green-700 hover:shadow-lg" 
              onclick="aceptarPago(event)">
              Aceptar Pago
            </button>
          </div>
        </form>
        
        <script>
          function rechazarPago(event) {
            event.preventDefault();
            document.getElementById('accion').value = 'rechazar';
            document.getElementById('observaciones').disabled = false;
            document.getElementById('form_pago').submit();
          }
        
          function aceptarPago(event) {
            event.preventDefault();
            document.getElementById('accion').value = 'aceptar';
            document.getElementById('observaciones').disabled = true;
            document.getElementById('form_pago').submit();
          }
        </script>
        
      {% endif %}      
    </div>
  </div>
</div>
{% endblock %}
