{% extends "_layouts/app.html" %} 
{% import "_macros/table.html" as Table %}

{% block head %}
<title>Lab-Genetics - Mis Pacientes</title>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-4xl px-4 py-12 text-center">
    <div>
      <h1 class="mb-4 text-3xl font-extrabold text-indigo-800 md:text-4xl lg:text-5xl">
        Mis Pacientes
      </h1>
      <p class="mb-4 text-base md:text-lg text-zinc-500">
        A continuación se muestra una lista de mis pacientes.
      </p>
    </div>

    <div class="w-full overflow-x-auto">
      <h2 class="my-4 text-2xl font-bold">Pacientes</h2>
      {% call Table.Table() %}
      {{ Table.TableHeader(("DNI", "Nombre", "Apellido" , "Acción")) }}
      <tbody>
        {% for paciente in pacientes %}
        <tr class="text-black bg-very-light-yellow-green">
          <td class="py-4 break-words whitespace-normal">
            {{ paciente.dni }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            {{ paciente.nombre }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            {{ paciente.apellido }}
          </td>
          <td>
            <a href="{{ url_for('ver_paciente.ver_paciente', paciente_id=paciente.id) }}" 
               class="text-indigo-500 hover:underline">Ver Perfil</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endcall %}
    </div>
  </section>
</main>
{% endblock %}
