{% extends "_layouts/app.html" %}

{% block head %}
<title>Mis Turnos</title>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center px-4 py-12 bg-very-light-yellow-green sm:px-6 lg:px-8">
  <div class="w-full max-w-4xl space-y-8">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-indigo-700">Mis Turnos</h1>
      <p class="mt-2 text-lg text-gray-700">Aquí puedes ver el historial de los turnos que has realizado.</p>
    </div>
    
    {% if turnos %}
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {% for turno in turnos %}
          <div class="p-6 transition-all bg-white rounded-xl border border-indigo-200 shadow-md hover:shadow-2xl hover:border-indigo-400 transform hover:-translate-y-1 duration-300">
            <h2 class="mb-4 text-xl font-semibold text-indigo-700">Turno ID: {{ turno.id }}</h2>
            <p class="text-gray-600"><strong>Fecha:</strong> 
              <span class="text-indigo-600">{{ turno.fecha.strftime('%d/%m/%Y') }}</span>
            </p>
            <p class="mt-2 text-gray-600"><strong>Hora:</strong> 
              <span class="text-indigo-600">{{ turno.hora.strftime('%H:%M') }}</span>
            </p>
            <p class="mt-2 text-gray-600"><strong>Estado:</strong> 
              <span class="text-indigo-600">{{ turno.estado_nombre }}</span>
            </p>
            <p class="mt-2 text-gray-600"><strong>Estudio ID:</strong> 
              <span class="text-indigo-600">{{ turno.estudio_id }}</span>
            </p>
            <p class="mt-2 text-gray-600"><strong>Tipo de Estudio:</strong> 
              <span class="text-indigo-600">{{ turno.estudio_tipo }}</span>
            </p>
            {% if turno.estado_nombre != "CANCELADO" %}
              <form action="{{ url_for('listar.cancelar_turno', turno_id=turno.id) }}" method="post" class="mt-4">
                <button 
                  type="submit" 
                  class="w-full px-4 py-2 text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700">
                  Cancelar Turno
                </button>
              </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center">
        <p class="text-lg text-gray-600">No tienes turnos registrados en el sistema.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
