{% extends "_layouts/app.html" %} 
{% import "_macros/table.html" as Table %} 

{% block head %}
<title>Lab-Genetics</title>
{% endblock %} 

{% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-4xl px-4 py-12 text-center">
    <div>
      <h1 class="mb-4 text-3xl font-extrabold text-indigo-800 md:text-4xl lg:text-5xl">
        Lab-Genetics
      </h1>
      
      {% if not(session.logged_in) %}
      <!-- Si no está autenticado -->
      <p class="mb-4 text-xl font-bold text-zinc-700 md:text-2xl">
        Qué esperas para registrarte!!
      </p>
      {% else %}
      <!-- Si está autenticado, mostramos las opciones -->
        <p class="mb-4 text-base md:text-lg text-zinc-500 text-center">
          ¡Bienvenidx <span class="text-blue-500">{{ current_user.nombre}}</span> <span class="text-blue-500">{{ current_user.apellido}}</span> 😃! Selecciona una opción para continuar:
        </p>
        {% if session.rol_id == 1 %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto my-8 max-w-full px-4">
            <!-- Botón Registrar Transportista -->
            <a href='/registrar_transportista' class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/transportista.png" alt="Icono Admin Lab" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Registrar Transportista</span>
                </div>
            </a>
          
            <!-- Botón Registrar Admin -->
            <a href='/registrar_administrador' class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/admin.png" alt="Icono Admin Lab" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Registrar Admin</span>
                </div>
            </a>
        
            <!-- Botón Registrar Médico -->
            <a href='/registrar_medico' class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/medico.png" alt="Icono Médico" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Registrar Médico</span>
                </div>
            </a>
        
            <!-- Botón Ver Usuarios -->
            <a href="/listar_usuarios" class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/users.png" alt="Icono Usuarios" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Ver Usuarios</span>
                </div>
            </a>
        
            <!-- Botón Ver Perfil -->
            <a href="/perfil" class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/profile.png" alt="Icono Perfil" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Ver Perfil</span>
                </div>
            </a>
        
            <!-- Botón Listar Laboratorios -->
            <a href='listar_laboratorios' class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/listarlaboratorios.png" alt="Icono Admin Lab" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Listar Laboratorios</span>
                </div>
            </a>
        
            <!-- Botón Registrar Laboratorio -->
            <a href='registrar_laboratorio' class="flex items-center justify-center w-full px-6 py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                <div class="flex flex-col items-center">
                    <img src="/static/img/accesibilidad/laboratorio.png" alt="Icono Laboratorio" class="object-contain mb-3 w-14 h-14">
                    <span class="text-lg md:text-xl">Registrar Laboratorio</span>
                </div>
            </a>
        </div>
        {% elif session.rol_id == 2 %} <!-- Si el rol es 2, es el administrador general -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-auto my-8 max-w-full px-4">
              <!-- Botón Generar Presupuesto -->
              <a href="/presupuestos_solicitados" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/presupuesto.png" alt="Icono Presupuesto" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Presupuestos Solicitados</span>
                  </div>
                </a>

              <!-- Botón Confirmar Pagos -->
              <button class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/confirmarpagos.png" alt="Icono Confirmar Pagos" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Confirmar Pagos</span>
                  </div>
              </button>

              <!-- Botón Cargar Resultados -->
              <button class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/cargarresultados.png" alt="Icono Cargar Resultados" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Cargar Resultados</span>
                  </div>
              </button>

              <!-- Botón Espera de Envios -->
              <button class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/esperadeenvio.png" alt="Icono Espera de Envios" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Espera de Envios</span>
                  </div>
              </button>

              <!-- Botón Ver Perfil -->
              <a href="/perfil" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/profile.png" alt="Icono Perfil" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Ver Perfil</span>
                  </div>
              </a>
          </div>

          {% elif session.rol_id == 3 %} <!-- Si el rol es 3, es el Laboratorio -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mx-auto my-8 max-w-full px-4">
              <!-- Botón Turnos -->
              <a href="/listar_turnos" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/calendario.png" alt="Icono Turnos" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Turnos</span>
                  </div>
              </a>
          
              <!-- Botón Ver Perfil -->
              <a href="/perfil" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/profile.png" alt="Icono Perfil" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Ver Perfil</span>
                  </div>
              </a>
          </div>
          {% elif session.rol_id == 4 %} <!-- Si el rol es 4, es el Médico -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-auto my-8 max-w-full px-4">
              <!-- Botón Registrar Paciente -->
              <a href="/registrar_paciente" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/paciente.png" alt="Icono Registrar Paciente" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Registrar Paciente</span>
                  </div>
              </a>
          
              <!-- Botón Reasignar Paciente -->
              <a href='/reasignar' class="flex items-center justify-center w-full py-4 text-white transition duration-500 bg-indigo-600 rounded-lg shadow-md hover:shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/users.png" alt="Icono Reasignar Paciente" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Reasignar Paciente</span>
                  </div>
              </a>
          
              <!-- Botón Ver Pacientes -->
              <a href="/mis_pacientes" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/listarpacientes.png" alt="Icono Ver Pacientes" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Ver Pacientes</span>
                  </div>
              </a>
          
              <!-- Botón Ver Estudios -->
              <a href="/ver_estudios_medico" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/verestudios.png" alt="Icono Ver Estudios" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Ver Estudios</span>
                  </div>
              </a>
          
              <!-- Botón Ver Perfil -->
              <a href="/perfil" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                  <div class="flex flex-col items-center">
                      <img src="/static/img/accesibilidad/profile.png" alt="Icono Ver Perfil" class="object-contain mb-3 w-14 h-14">
                      <span class="text-lg md:text-xl">Ver Perfil</span>
                  </div>
              </a>
          </div>
          {% elif session.rol_id == 5 %} <!-- Si el rol es 5, es el Paciente -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mx-auto my-8 max-w-full px-4">
                <!-- Botón Presupuesto -->
                <a href="/mis_presupuestos" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/presupuesto.png" alt="Icono Presupuesto" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Mis Presupuestos</span>
                    </div>
                </a>
            
                <!-- Botón Turnos -->
                <a href='/listar_laboratorios_turnos' class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/calendario.png" alt="Icono Turnos" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Turnos</span>
                    </div>
                </a>
            
                <!-- Botón Mis Estudios -->
                <a href="/mis_estudios" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/verestudios.png" alt="Icono Mis Estudios" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Mis Estudios</span>
                    </div>
                </a>
            
                <!-- Botón Ver Perfil -->
                <a href="/perfil" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/profile.png" alt="Icono Ver Perfil" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Ver Perfil</span>
                    </div>
                </a>
            </div>
            {% elif session.rol_id == 6 %} <!-- Si el rol es 6, es el Transportista -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mx-auto my-8 max-w-full px-4">
                <!-- Botón Pedidos -->
                <button class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/pedidos.png" alt="Icono Pedidos" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Pedidos</span>
                    </div>
                </button>
            
                <!-- Botón Ver Perfil -->
                <a href="/perfil" class="flex items-center justify-center w-full py-4 text-white transition duration-300 bg-indigo-600 rounded-lg shadow-lg hover:bg-indigo-500">
                    <div class="flex flex-col items-center">
                        <img src="/static/img/accesibilidad/profile.png" alt="Icono Ver Perfil" class="object-contain mb-3 w-14 h-14">
                        <span class="text-lg md:text-xl">Ver Perfil</span>
                    </div>
                </a>
            </div>
            
        {% endif %}
      {% endif %}
    </div>
  </section>
</main>

{% endblock %}
