{% extends "_layouts/app.html" %}
{% import "_macros/table.html" as Table %}

{% block head %}
<title>Lab-Genetics - Lista de Turnos</title>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-4xl px-4 py-12 text-center">
    <div>
      <h1 class="mb-4 text-3xl font-extrabold text-indigo-800 md:text-4xl lg:text-5xl">
        Turnos solicitados
      </h1>
      <p class="mb-4 text-base text-gray-500 md:text-lg">
        A continuación se muestra una lista de los turnos solicitados para este laboratorio.
      </p>
    </div>

    <div class="w-full overflow-x-auto">
      {% call Table.Table() %}
      {{ Table.TableHeader(("Fecha", "Hora", "ID Estudio", "Estado", "DNI", "Nombre", "Apellido")) }}
      <tbody>
        {% for turno in turnos %}
        <tr class="bg-gray-100 even:bg-white hover:bg-gray-200">
          <td class="px-6 py-4 text-gray-700">{{ turno.fecha or "No asignada" }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.hora }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.id_estudio }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.estado_nombre }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.dni or "No asignado" }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.nombre or "No asignado" }}</td>
          <td class="px-6 py-4 text-gray-700">{{ turno.apellido or "No asignado" }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endcall %}
    </div>
  </section>
</main>
{% endblock %}
