{% extends "_layouts/app.html" %}
{% import "_macros/table.html" as Table %}

{% block head %}
<title>Lab-Genetics - Lista de Usuarios</title>
<style>
  /* Estilos para el toggle switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    overflow: visible; /* Asegurar que el tooltip no se corte */
}

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    z-index: 1; /* Asegurar que el toggle esté debajo del tooltip */
}

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Evitar que el mouse interactúe con el tooltip */
    white-space: nowrap; /* Evitar que el texto se divida */
    z-index: 100; /* Asegurar que el tooltip esté en el frente */
    transform: translateX(-50%);
    left: 50%; /* Centrar horizontalmente */
    bottom: 45px; /* Ajustar el tooltip encima del toggle */
}

</style>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-4xl px-4 py-12 text-center">
    <div>
      <h1 class="mb-4 text-3xl font-extrabold text-indigo-800 md:text-4xl lg:text-5xl">
        Lista de Usuarios
      </h1>
      <p class="mb-4 text-base md:text-lg text-zinc-500">
        A continuación se muestra una lista de usuarios Administrado, Medico y Transportista.
      </p>
    </div>

    <div class="w-full overflow-x-auto">
      <h2 class="my-4 text-2xl font-bold">Usuarios</h2>
      {% call Table.Table() %}
      {{ Table.TableHeader(("Nombre", "Apellido", "DNI", "Rol", "Acción")) }}
      <tbody>
        {% for usuario in usuarios %}
        <tr class="text-black bg-very-light-yellow-green">
          <td class="py-4 break-words whitespace-normal">
            {{ usuario.nombre }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            {{ usuario.apellido }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            {{ usuario.dni }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            {{ usuario.rol.nombre }}
          </td>
          <td class="py-4 break-words whitespace-normal">
            <form method="POST" action="/listar_usuarios" class="relative flex items-center">
              <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
              <label class="switch">
                  <input type="checkbox" name="estado" value="ACTIVO"
                  {% if usuario.estado == 'ACTIVO' %}checked{% endif %}
                  onchange="this.form.submit()">
                  <span class="slider"
                        onmouseover="showTooltip(this)"
                        onmouseout="hideTooltip(this)"></span>
                  <span class="tooltip">Cambiar Estado</span> <!-- Tooltip dentro del formulario -->
              </label>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endcall %}
    </div>
  </section>
</main>
<script>
  function showTooltip(slider) {
    const tooltip = slider.nextElementSibling; // Tooltip justo después del slider
    tooltip.textContent = slider.previousElementSibling.checked ? 'Inhabilitar Usuario' : 'Habilitar Usuario';
    
    // Mostrar el tooltip
    tooltip.style.opacity = '1'; // Hacer visible el tooltip
}

function hideTooltip(slider) {
    const tooltip = slider.nextElementSibling; // Tooltip justo después del slider
    tooltip.style.opacity = '0'; // Ocultar el tooltip
}

</script>
{% endblock %}
