{% extends "_layouts/app.html" %}
{% block head %}
<title>Lab-Genetics - Lista de Turnos</title>
<style>
  @media screen and (max-width: 768px) {
    .responsive-table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    .responsive-table table {
      width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    .table-row {
      display: block;
      border-bottom: 1px solid #e5e7eb;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
    .table-row div {
      margin: 0.5rem 0;
    }
    .table-header {
      display: none;
    }
  }
</style>
{% endblock %}

{% block content %}
<main class="flex flex-col items-center min-h-screen">
  <section class="w-full max-w-6xl px-4 py-12 text-center">
    <div>
      <h1 class="mb-4 text-3xl font-extrabold text-indigo-800 md:text-4xl lg:text-5xl">
        Turnos solicitados
      </h1>
      <p class="mb-4 text-base text-gray-500 md:text-lg">
        A continuación se muestra una lista de los turnos solicitados para este laboratorio.
      </p>
    </div>

    <div class="w-full responsive-table">
      <table class="w-full text-left border border-collapse table-auto">
        <thead class="table-header">
          <tr class="text-white bg-indigo-500">
            <th class="px-4 py-2">Fecha</th>
            <th class="px-4 py-2">Hora</th>
            <th class="px-4 py-2">ID Estudio</th>
            <th class="px-4 py-2">DNI</th>
            <th class="px-4 py-2">Nombre</th>
            <th class="px-4 py-2">Consentimiento</th>
            <th class="px-4 py-2">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for turno in turnos %}
          <tr class="table-row bg-gray-100 even:bg-white hover:bg-gray-200">
            <td class="px-6 py-4 text-gray-700">
              <strong class="block md:hidden">Fecha:</strong> {{ turno.fecha or "No asignada" }}
            </td>
            <td class="px-6 py-4 text-gray-700">
              <strong class="block md:hidden">Hora:</strong> {{ turno.hora }}
            </td>
            <td class="px-6 py-4 text-gray-700">
              <strong class="block md:hidden">ID Estudio:</strong> {{ turno.id_estudio }}
            </td>
            <td class="px-6 py-4 text-gray-700">
              <strong class="block md:hidden">DNI:</strong> {{ turno.usuario_dni or "No asignado" }}
            </td>
            <td class="px-6 py-4 text-gray-700">
             {{ turno.usuario_nombre or "No asignado" }} {{ turno.usuario_apellido }}
            </td>
            <td class="px-6 py-4">
              {% if turno.consentimiento_path %}
              <a href="{{ url_for('static', filename=turno.consentimiento_path) }}" 
                 class="text-indigo-500 hover:underline" target="_blank">
                Ver Consentimiento
              </a>
              {% else %}
              <span class="text-gray-500">Sin Consentimiento</span>
              {% endif %}
            </td>
            <td class="px-6 py-4">
              {% if turno.fecha == current_date %}
              <form action="{{ url_for('confirmar_turno.confirmar_turno', turno_id=turno.turno_id) }}" method="POST" class="inline">
                <button type="submit" class="w-full px-4 py-2 font-semibold text-white bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 hover:shadow-lg">
                  Confirmar Turno
                </button>
              </form>
              {% else %}
              <span class="text-gray-500">No Disponible</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock %}
