{% extends "_layouts/app.html" %}
{% block head %}
<title>{{ user.nombre }} {{ user.apellido }}</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center mt-10 text-center">
  <img src="/static/img/accesibilidad/user.png" alt="User Profile" class="w-24 h-24 mb-6 rounded-full" />

  <h1 class="mb-6 text-4xl font-semibold text-gray-900">{{ user.nombre }} {{ user.apellido }}</h1>

  <div class="max-w-lg mx-auto text-xl text-left text-gray-700">
    <p class="mb-2"><strong>Email:</strong> {{ user.email }}</p>
    <p class="mb-2"><strong>DNI:</strong> {{ user.dni }}</p>
    <p class="mb-2"><strong>Teléfono:</strong> {{ user.telefono }}</p>

    {% if user.id_rol in [2, 4, 5, 6] %}
      <p class="mb-2"><strong>Fecha de nacimiento:</strong> 
        {% if user.fecha_nacimiento %} 
          {{ user.fecha_nacimiento.strftime('%d/%m/%Y') }} 
        {% else %} 
          No registrada 
        {% endif %}
      </p>
    {% endif %}

    {% if user.id_rol == 5 %}
      <p class="mb-2"><strong>Antecedentes familiares:</strong>
        {% if user.patologias %}
          <ul>
            {% for patologia in user.patologias %}
              <li>{{ patologia.nombre }}</li>  {# Asegúrate de que "nombre" es un atributo de tu modelo Patologia #}
            {% endfor %}
          </ul>
        {% else %}
          <span>No tiene antecedentes familiares registrados.</span>
        {% endif %}
      </p>
    {% endif %}
    
    {% if user.id_rol == 3 %}
    <div class="max-w-lg mx-auto text-xl text-left text-gray-700">
      <p class="mb-2"><strong>Dirección:</strong> {{ user.direccion }}</p>
      <p class="mb-2"><strong>Horarios:</strong> {{ user.horarios }}</p>
      <p class="mb-2"><strong>Días:</strong> {{ user.dias }}</p>
    </div>
    
    <!-- Map container -->
    <div id="map" style="width: 100%; height: 300px;" class="mb-4"></div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var map = L.map('map').setView([{{ user.latitud }}, {{ user.longitud }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap'
        }).addTo(map);
        
        var marker = L.marker([{{ user.latitud }}, {{ user.longitud }}]).addTo(map);
      });
    </script>
    {% endif %}
  </div>

  <a href="{{ url_for('editar_perfil.editar_perfil', usuario_id=user.id) }}" class="px-4 py-2 mt-6 text-white transition bg-indigo-800 rounded hover:bg-green-cyan">
    Editar perfil
  </a>
</div>
{% endblock %}

